<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <div class="choose_file-container" [ngClass]="migrationForm.valid?'border__file':null">
        <div>
          <a class="file" *ngFor="let url of urls" href="{{url.file.url}}">{{url.file.name}}</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <form class="form" [formGroup]="migrationForm" (ngSubmit)="transform()">
        <input type="file" multiple (change)="selectFile($event)" formControlName="file">

        <button type="submit" class="btn btn-primary mt-5" [disabled]="migrationForm.invalid">Migration</button>
      </form>
    </div>
  </div>

  <div class="progress_file-container">
    <h3>Conversion progress</h3>
    <div *ngIf="transformed" class="progress mt-2">
      <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentage }}"
           aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
        {{ percentage }}%
      </div>
    </div>
  </div>

  <div class="statistic__migrate-table">
    <h3>Statistic</h3>

    <table class="table table-striped">
      <tr>
        <th>STT</th>
        <th>OK</th>
        <th>Transform</th>
        <th>Có bao nhiêu bản ghi</th>
      </tr>

      <tr *ngFor="let success of fileSuccess | keyvalue;let i = index">
        <td>{{i + 1}}</td>
        <td>{{success.key}}</td>
        <!-- Failed -->
        <td class="text-success">{{success.key}}</td>
        <!-- Records -->
        <td class="text-success">{{success.value}}</td>
      </tr>

      <tr *ngFor="let fail of fileFailed | keyvalue;let i = index">
        <td>{{i + 1}}</td>
        <td>{{fail.key}}</td>
        <!-- Failed -->
        <td class="text-danger">{{fail.key}}</td>
        <!-- Records -->
        <td *ngIf="error" class="text-danger">0</td>
      </tr>
    </table>
  </div>
</div>
